<script type="text/javascript">
	friends = <%= fb_friends.html_safe %>;
</script>
<div id="fb_post_plus_tool_tip">
	<%= form_tag("", :onsubmit =>"return false") do |f| %>
    <%= text_field :find_friend, "name", { :class => "fields" , :placeholder => "Your friend's name!" } %>
    <%= image_submit_tag "buscar_btn.png", :id => "buscar_btn" %>
  <% end %>
  <%= image_tag "ajax_loader.gif", :id => "ajax_loader" %>
  <div id="all_fb_friends">
  </div>
</div>