<li class="friend">
  <a id="<%= shit.id %>" class="this_shit" href="/shit/<%= shit.id %>" >
    <div class="friends_photo glass">
      <%= image_tag shit.friends[0].photo.thumb('120x122#').url if !shit.friends.empty? %>
    </div>
    <div class="friends_phrase">
      <span class="phrase">
        “<%= shit.phrase %>”
      </span>
      <% if !shit.friends.empty? %>
      <span class="friends_name">- <%= shit.friends[0].name %></span>
      <% end %>
    </div>
    <div class="friends_share">
      <%= link_to image_tag("twitter_btn.jpg", :border => 0), "https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffriendsshit.com%2Fshit%2F#{shit.id}&source=tweetbutton&text=Friends%20Shit%20-%20Cuz%20shit%20happens!%20'#{shit.phrase}'#{"%20-%20#{shit.friends[0].name}" if !shit.friends.empty?}&url=http%3A%2F%2Ffriendsshit.com%2Fshit%2F#{shit.id}", :target => "_blank" %>
      <%= link_to image_tag("facebook_btn.jpg", :border => 0), "https://www.facebook.com/sharer.php?u=http://www.friendsshit.com/shit/#{shit.id}&t=Friend's Shit - Cuz shit happens!", :target => "_blank" %>
    </div>
    <div class="friends_info">
      <% 
        how_long = ( Time.now - shit.created_at )
        
        if how_long < 60
          if how_long.nil?
            time = "0 seconds"
          else
            time = "#{(how_long).round} seconds"
          end
        
        elsif how_long < 3600
          time = "#{(how_long / 60).round} minutes"
        
        elsif how_long < 86400
          time = "#{(how_long / 60 / 60).round} hours"
        
        else
          time = "#{(how_long / 60 / 60 / 24).round} days"
        
        end    
      %>
      <%= time %> ago <%= (shit.location != "") ? "near #{shit.location}" : "" %>
    </div>
  </a>
</li>