<div id="post">
  <%= form_for(:shit, :url => create_shits_path, :method => :post, :remote => true) do |f| %>
    <%= f.text_field :phrase, { :class => "fields" , :placeholder => "Post your friend’s shit here!" } %>
    <div id="post_plus">
        <%= image_tag "plus_btn.png" %>
    </div>
    <%= image_submit_tag "post_btn.png", :id => "post_btn" %>
  <% end %>
</div>
<div id="shits">
  <ul>
    <% @shits.each do |shit| %>
      <%= render :partial => "friend", :locals => { :shit => shit } %>
    <% end %>
  </ul>
</div>
<div id="more_fun">
  <%= link_to image_tag("more_fun_btn.jpg", :border => 0), root_path %>
</div>