<div id="post">
  <%= form_for(:shit, :url => create_shits_path, :method => :post, :remote => true, :html => {:id => "post_shit"}) do |f| %>
    <%= f.text_field :phrase, { :class => "fields" , :placeholder => "Post your friend’s shit here!" } %>
    <%= f.hidden_field :location %>
    <div id="post_plus">
        <%= image_tag "plus_btn.png" %>
    </div>
    <%= render :partial => "plus" %>
    <%= image_submit_tag "post_btn.png", :id => "post_btn" %>
  <% end %>
  <%= render :partial => "fb_friends", :locals => { :fb_friends => @fb_friends.to_json } if @fb_friends %>
</div>
<div id="shits">
  <ul>
    <% @shits.each do |shit| %>
      <%= render :partial => "friend", :locals => { :shit => shit } %>
    <% end %>
  </ul>
</div>
<div id="more_fun">
  <%= link_to image_tag("more_fun_btn.jpg", :border => 0), root_path(:page => @next_page)%>
</div>