<!DOCTYPE html>
<html>
  <head>
    <title>Friend's Shit - Cuz shit happens!</title>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>    
    <%= csrf_meta_tags %>
    <% if @shit %>
      <meta property="og:title" content="Friend's Shit - Cuz shit happens!" />
      <meta property="og:description" content="'<%= @shit.phrase %>'<%= " - #{@shit.friends[0].name}" if !@shit.friends.empty?%>" />
      <% if !@shit.friends.empty? %>
        <meta property="og:image" content="http://www.friendsshit.com<%= @shit.friends[0].photo.thumb('160x160#').url %>" />
      <% else %>
        <meta property="og:image" content="http://www.friendsshit.com/assets/mini-logo.png" />
      <% end %>
    <% else %>
      <meta property="og:title" content="Friend's Shit - Cuz shit happens!" />
      <meta property="og:description" content="A place to share yout friends shit and get some fun of others shits!" />
      <meta property="og:image" content="http://www.friendsshit.com/assets/mini-logo.png" />
    <% end %>
  </head>
    <body>
      <div id="loading"><%= image_tag "ajax_loader.gif", :id => "ajax_loader" %></div>
      <div id="container">
        <div id="logo">
          <%= link_to image_tag("logo.jpg", :border => 0), root_path %>
        </div>
        <%= yield %>
      </div>
    </body>
</html>
